body {
  font-family: Roboto, sans-serif;
  font-size: 10pt;
}

#selectors {
  position: fixed;
  top: 100px;
  right: 10px;
  background-color:rgba(255,255,255,0.6);
}

#viz {
  position: absolute;
}

.drug .label {
  fill: black;
  stroke: none;
}

#rule line {
  fill: none;
  stroke: gray;
  stroke-dasharray: 1, 2;
}

#rule text {
  fill: gray;
  stroke: none;
}

.drug {
  opacity: 0.2;
}

.drug.selected {
  opacity: 1;
}

.drug:hover {
  cursor: pointer;
}

.selector.disabled:before {
  content: '□';
  margin-right: 5px;
}

.selector:before {
  content: '✓';
  margin-right: 5px;
}

.selector.disabled .slider {
  visibility: hidden;
}

.selector {
  margin: 5px;
  padding: 5px;
  border: dotted gray .5pt;
  min-height: 50px;
}

.selector label {
  cursor: pointer;
}

.selector input {
  margin-left: 10px;
  width: 100px;
  height: 1.5em;
}

.axis {
  opacity: 1;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis .tick text {
  font-size: 106pt;
  letter-spacing: -8pt;
  opacity: 0.05;
}
